@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "aphrodite";
  src: url("./assets/fonts/aphrodite-slim-text.otf");
}
@font-face {
  font-family: "now";
  src: url("./assets/fonts/NowAlt-Regular.otf");
}

@import "~@flaticon/flaticon-uicons/css/all/all";

* {
  scroll-behavior: smooth;
  outline: none;
  margin: 0;
  padding: 0;
}


:root {
  /* --bg-color: #081b29; */
  --bg-color:#171C26;
  --second-bg-color: #112e42;
  --text-color: #ededed;
  --main-color:rgba(178,201,211) ;
  --shadow-color:rgba(178,201,211,0.16) ;
  /* --main-color: #00abf0; */

}

#root{
  padding: 0;
  margin: 0;
}


.slider-title{
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  display: block;
}

.line-subtitle::before, .line-subtitle::after
{
  content: "";
  display: block;
  width: 35px;
  height: 1px;
  position: relative;


}

.line-subtitle::before{
  left: -50px;
  top: 7px;
}

.line-subtitle::after
{
  position: relative;
  left: 80px;
    top: -9px;

}

.sombrita{
  box-shadow: 0px 4px 13.65px 7.35px rgba(178, 201, 211, 0.16);
}


@media (min-width: 640px) {
  .line-subtitle::after
  {
    left: 80px;
  }

}

@media (min-width: 768px) {
  .line-subtitle::after
  {
    left: 97px;
      top: -10px;

  }
}

@media (min-width: 1024px) {
  .line-subtitle-slider::after
  {
    left: 140px;
  }
}
